<% provide(:title, "Giriş") %>
<h1>Giriş</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :username, "Kullanıcı Adı" %>
      <%= f.text_field :username %>

      <%= f.label :password, "Şifre" %>
      <%= f.password_field :password %>

      <%= f.submit "Giriş", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>